@import 'layout';
@import 'src/colors';

.box {
  background-color: $secondary-section-color;
  color: $font-color;
  border-radius: 0.35em;
  padding: 0.5em;
  font-size: 150%;
  &.body-content {
    background-color: $primary-section-color;
  }
}
